@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: NinoMtavruli;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: NinoMtavruli;
  src: url(../Assets/Fonts/bpg_nino_mtavruli_normal.ttf);
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .3rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #FF5421;
  border-radius: 2rem;
}

body {
  height: 10000px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.header {
  padding: 30px 2rem;
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: 9999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__inner .header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header .header__inner .header__logo a .header__logo-logo {
  width: 40px;
}

.header .header__inner .header__logo a .header__logo-logo img {
  width: 100%;
  height: auto;
}

.header .header__inner .header__logo a span {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  position: relative;
  padding: 0 15px;
}

.header .header__inner .header__logo a span::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

.header .header__inner .menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .header .header__inner .menu {
    display: none;
  }
}

.header .header__inner .menu .list__item-item {
  display: inline-block;
}

.header .header__inner .menu .list__item-item .list__item-link {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 0 15px;
  color: #fff;
}

.header .header__inner .menu .list__item-item .list__item-link.clicked {
  color: #FF5421;
  font-weight: bold;
}

.header .header__inner .menu .list__item-item .list__item-link.fill {
  color: #000;
}

.header .header__inner .menu .list__item-item .list__item-link:hover {
  color: #FF5421;
}

@media (max-width: 768px) {
  .header .header__inner .header__buttons {
    display: none;
  }
}

.header .header__inner .header__buttons .button {
  width: 2rem;
  height: 2rem;
  border: 1px solid #FF5421;
  border-radius: 50%;
  color: #fff;
  line-height: 2rem;
  cursor: pointer;
  text-align: center;
}

.header .header__inner .header__buttons .button.active {
  color: #000;
}

.header .header__inner .burger {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .header .header__inner .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .header__inner .burger span {
  height: 3px;
  width: 100%;
  background: #fff;
}

.header.active {
  padding: 10px 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.header.active .list__item-link {
  color: #000 !important;
}

.header.active .list__item-link.clicked {
  color: #FF5421 !important;
  font-weight: bold;
}

.header.active .list__item-link:hover {
  color: #FF5421 !important;
}

.header.active .header__logo span {
  color: #000 !important;
}

.header.active .header__logo span::before {
  background: #000 !important;
}

.header.active .burger span {
  background-color: #000 !important;
}

.burger__menu {
  position: relative;
  top: -100%;
  left: 0;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.burger__menu span {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

.burger__menu .list__item {
  list-style: none;
}

.burger__menu .list__item .list__item-item {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 20px 0;
}

.burger__menu .list__item .list__item-item::after {
  content: '';
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 0;
  bottom: -8px;
  left: 0;
  height: 2px;
  background: #FF5421;
}

.burger__menu .list__item .list__item-item:hover::after {
  width: 100%;
}

.burger__menu .list__item .list__item-item .list__item-link {
  text-decoration: none;
  color: #FF5421;
  font-weight: bold;
  font-size: 20px;
}

.burger__menu.active {
  top: 0;
}

.home {
  position: relative;
}

.home .slide {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide .content {
  padding: 0 2rem;
}

.home .slide .content h3 {
  font-size: 50px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  color: #ffff;
  opacity: 0.6;
}

.home .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: .5;
}

.home .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FF5421;
  opacity: 1;
}

.first-slide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../Assets/home1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Assets/home1.jpg");
}

.second-slide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../Assets/home2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Assets/home2.jpg");
}

.third-slide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../Assets/home3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Assets/home3.jpg");
}

.portfolio {
  padding: 100px 0 100px;
}

.portfolio .portfolio__title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.portfolio .portfolio__items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .portfolio__items .portfolio__item {
  position: relative;
  display: none;
  max-width: calc(440px - 2rem);
  width: 100%;
  padding: 5px;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
}

.portfolio .portfolio__items .portfolio__item .portfolio__image {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.portfolio .portfolio__items .portfolio__item .portfolio__image .portfolio__image-img {
  width: 100%;
  height: 100%;
}

.portfolio .portfolio__items .portfolio__item .portfolio__item-cont {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
}

.portfolio .portfolio__items .portfolio__item .portfolio__item-cont h2 {
  color: #fff;
}

.portfolio .portfolio__items .portfolio__item .portfolio__item-cont p {
  color: #fff;
}

.portfolio .portfolio__items .portfolio__item .portfolio__item-cont .portfolio__item-btn {
  margin-top: 20px;
}

.portfolio .portfolio__items .portfolio__item .portfolio__item-cont .portfolio__item-btn a {
  padding: 10px 30px;
  border: 1px solid #FF5421;
  background: #FF5421;
  border-radius: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.portfolio .portfolio__items .portfolio__item .portfolio__item-cont .portfolio__item-btn a:hover {
  background: transparent;
}

.portfolio .portfolio__items .portfolio__item:hover .portfolio__item-cont {
  opacity: 1;
}

.portfolio .portfolio__items .portfolio__item.show {
  display: block;
}

.portfolio .portfolio__button {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolio__button .portfolio__button-btn {
  padding: 15px 40px;
  background: #FF5421;
  border: 1px solid #FF5421;
  border-radius: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
  outline: none;
  text-decoration: none;
  text-align: center;
}

.portfolio .portfolio__button .portfolio__button-btn:hover {
  background: transparent;
  color: #000;
}
/*# sourceMappingURL=style.css.map */