@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

*,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: NinoMtavruli;
    box-sizing: border-box;
}

@font-face {
    font-family: NinoMtavruli;
    src: url(../Assets/Fonts/bpg_nino_mtavruli_normal.ttf);
}

$main-color: #FF5421;
$primary-text-color: #000;
$second-text-color: #fff;
$border: .1rem solid rgba(0, 0, 0, .3);
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);

html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: .3rem;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: $main-color;
        border-radius: 2rem;
    }
}


body {
    height: 10000px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    padding: 30px 2rem;
    position: absolute;
    width: 100%;
    position: fixed;
    z-index: 9999;
    transition: all .3s;

    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__logo {
            a {
                display: flex;
                gap: 1rem;
                align-items: center;
                text-decoration: none;

                .header__logo-logo {
                    width: 40px;


                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                span {
                    font-size: 30px;
                    color: #fff;
                    font-weight: bold;
                    position: relative;
                    padding: 0 15px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 3px;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: #fff;
                    }
                }
            }
        }

        .menu {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;

            @media(max-width: 768px) {
                display: none;
            }

            .list__item-item {
                display: inline-block;

                .list__item-link {
                    text-decoration: none;
                    transition: all .3s;
                    padding: 0 15px;
                    color: #fff;

                    &.clicked {
                        color: $main-color;
                        font-weight: bold;
                    }

                    &.fill {
                        color: #000;
                    }

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }

        .header__buttons {
            @media(max-width: 768px) {
                display: none;
            }

            .button {
                width: 2rem;
                height: 2rem;
                border: 1px solid #FF5421;
                border-radius: 50%;
                color: #fff;
                line-height: 2rem;
                cursor: pointer;
                text-align: center;

                &.active {
                    color: #000;
                }
            }
        }

        .burger {
            width: 40px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            display: none;

            @media(max-width: 768px) {
                display: flex;
            }

            span {
                height: 3px;
                width: 100%;
                background: #fff;
            }
        }
    }

    &.active {
        padding: 10px 2rem;
        box-shadow: $box-shadow;
        background-color: #fff;

        .list__item-link {
            color: #000 !important;

            &.clicked {
                color: $main-color !important;
                font-weight: bold;
            }

            &:hover {
                color: $main-color !important;
            }
        }

        .header__logo {
            span {
                color: #000 !important;

                &::before {
                    background: #000 !important;
                }
            }
        }

        .burger {
            span {
                background-color: #000 !important;
            }
        }
    }
}

.burger__menu {
    position: relative;
    top: -100%;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    transition: all .5s;

    span {
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        top: 35px;
        right: 35px;
        cursor: pointer;
    }

    .list__item {
        list-style: none;

        .list__item-item {
            width: 100%;
            text-align: center;
            position: relative;
            margin: 20px 0;
            
            &::after {
                content: '';
                position: absolute;
                transition: all .3s;
                width: 0;
                bottom: -8px;
                left: 0;
                height: 2px;
                background: #FF5421;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            .list__item-link {
                text-decoration: none;
                color: #FF5421;
                font-weight: bold;
                font-size: 20px
            }
        }
    }

    &.active {
        top: 0;
    }
}

//Home
.home {
    position: relative;

    .slide {
        height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;

        .content {
            padding: 0 2rem;

            h3 {
                font-size: 50px;
                text-align: center;
                color: #fff;
                font-weight: bold;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        color: #ffff;
        opacity: 0.6;
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            &.swiper-pagination-bullet-active {
                background: #FF5421;
                opacity: 1;
            }
            background: #fff;
            opacity: .5;
        }
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {}

.first-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Assets/home1.jpg");
}

.second-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Assets/home2.jpg");
}

.third-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Assets/home3.jpg");
}

//Portfolio
.portfolio {
    padding: 100px 0 100px;

    .portfolio__title {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }

    .portfolio__items {
        margin-top: 30px;
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;

        .portfolio__item {
            position: relative;
            display: none;
            max-width: calc(440px - 2rem);
            width: 100%;
            padding: 5px;
            border: $border;
            box-shadow: $box-shadow;
            border-radius: 10px;
            cursor: pointer;

            .portfolio__image {
                border-radius: 10px;
                overflow: hidden;
                width: 100%;
                height: 100%;

                .portfolio__image-img {
                    width: 100%;
                    height: 100%;
                }
            }

            .portfolio__item-cont {
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all .3s;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                border-radius: 10px;
                background: rgba(0, 0, 0, 0.7);

                h2 {
                    color: #fff;
                }

                p {
                    color: #fff;
                }

                .portfolio__item-btn {
                    margin-top: 20px;

                    a {
                        padding: 10px 30px;
                        border: 1px solid #FF5421;
                        background: #FF5421;
                        border-radius: 10px;
                        transition: all .3s;

                        color: #fff;
                        font-weight: bold;
                        text-decoration: none;

                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }

            &:hover {
                .portfolio__item-cont {
                    opacity: 1;
                }
            }
            &.show {
                display: block;
            }
        }
    }

    .portfolio__button {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .portfolio__button-btn {
            padding: 15px 40px;
            background: #FF5421;
            border: 1px solid #FF5421;
            border-radius: 10px;
            transition: all .3s;
    
            color: #fff;
            outline: none;
            text-decoration: none;
            text-align: center;
    
            &:hover {
                background: transparent;
                color: #000;
            }
        }
    }
}